*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
}

#header{
 width: 100%;
 height: 60vh;
 background-color: white;
 background-size: cover;
 background-position: center;
 color: black;


 --dot-bg: white;
 --dot-color: black;
 --dot-size: 1px;
 --dot-space: 22px;
   background:
       linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
       linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
       var(--dot-color);
}

.container{
    padding: 10px 10%;
}

p{
    font-size: 25px;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
}

nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}


.header-text{
    margin-top: 10%;
    font-size: 30px;
}


.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}

.header-text h1 span{
    color:skyblue
}



.logosoc{

    margin-top: 10px;

}

.logosoc i{
    margin: 10px;
    font-size: 40px;
}

#about{
    padding: 30px 0 70px;
    color: black;
    background-color: white;



    --dot-bg: white;
    --dot-color: #000000;
    --dot-size: 1px;
    --dot-space: 22px;
    background:
       linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
       linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
       var(--dot-color);


    
}

.row{
  
    justify-content: space-between;
    


    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    grid-gap: 60px;
    margin-top: 30px;
}

.about-col-1{
    flex-basis: 45%;
    background: skyblue;
    padding: 40px;
    border-radius: 20px;
}

.about-col-2{
    flex-basis: 45%;
    background-color: skyblue;
    padding: 40px;
    border-radius: 20px;
}

.about-col-1 p{
    font-size: 15px;
    margin-top: 10px;
}

.subtitle{
    font-size: 30px;
    font-weight: 1200;
}

.tabtitle{
    display: flex;
    margin: 20px 0 40px;
}

.tablinks{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;

}

.tablinks::after{
    content: '';
    width: 0;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tablinks.activelink::after{
    width: 100%;
}

.tabcontent ul li{
    list-style: none;
    margin: 10px 0;

}

.tabcontent ul li span{
    margin: 10px 0 0 0 ;
    color: rgb(7, 66, 90);
    font-weight: 700;
    font-size: 18px;
    
}

.tabcontent{
    display: none;
}

.tabcontent.activetab{
    display: block;
}





#experience{
    color: white;
    background-color:rgb(7, 66, 90);
    padding: 50px 0;


    
 --dot-bg: rgb(7, 66, 90);
 --dot-color: white;
 --dot-size: 1px;
 --dot-space: 22px;
   background:
       linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
       linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
       var(--dot-color);

}



#ach{
    color: black;
    background-color:rgb(21, 31, 35);
    padding: 50px 0;

   background:linear-gradient(rgba(135, 206, 235,0.6), white);

}

.explist{
    color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 30px;

  
}


.achlist{
    color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}


.explist div{
    
    background-color:skyblue;
    padding: 40px;
    font-weight: 300;
    border-right: 10px;
    transition: background 0.5s, transform 0.5s;
    border-radius: 15px;

}

.achlist div{
    
    background-color:rgb(254, 254, 254);
    padding: 20px;
    font-weight: 300;
    border-right: 10px;
    transition: background 0.5s, transform 0.5s;
    border-radius: 30px;
  

}


.explist div i{
    font-size: 20px;
    margin-bottom: 10px;

}


.achlist div i{
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
}


.explist div h1{
   font-size: 20px;
   
}

.achlist div h1{
    color: black;
    font-size: 20px;
    
 }


.explist div h2{
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 15px;
 }

.explist div p{
    font-size: 15px;
    
 }
 .achlist div p{
    color: black;
    font-size: 16px;
    
 }
 

 .explist div a{
    text-decoration: none;
    font-size: 12px;
    margin-top: 10px;
    display: inline-block;
 }
 

 .achlist div a{
    text-decoration: none;
    font-size: 12px;
    margin-top: 10px;
    display: inline-block;
    color: black;
 }
 

.explist div:hover{
    background: white;
    transform: translateY(-10px);

}

.achlist div:hover{
    background: rgb(135, 206, 235);
    transform: translateY(-10px);
}


.achlist div a:hover{
    color: white;
}


#projects{
    padding: 50px;
    background-color: white;
    color: black;



    
        
    --dot-bg: white;
    --dot-color: black;
    --dot-size: 1px;
    --dot-space: 22px;
    background:
        linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);

   
    
}
.prolist{
    color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    grid-gap: 40px;
    margin-top: 30px;
    transition: 0.5s;
}


.prolist div{
    background: linear-gradient(rgba(135, 206, 235,0.6), white);
    padding: 40px;
    font-weight: 300;
    border-right: 10px;
    transition: background 0.5s, transform 0.5s;
    
}


.prolist div i{
    font-size: 20px;
    margin-bottom: 10px;

}


.prolist div h1{
   font-size: 20px;
   
}


.prolist div h2{
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 15px;
 }

.prolist div p{
    font-size: 15px;
    
 }
 

 .prolist div a{
    text-decoration: none;
    font-size: 15px;
    margin-top: 20px;
    
    line-height: 50px;
    
 }


 .prolist div:hover{
    transform: translateY(10px);
    background: skyblue;
    
}


.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid skyblue;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    transition: background 0.5s ;

}

.btn:hover{
    background-color: skyblue;
}


.btn2{
    display: block;
    margin-top: 20px;
    width: fit-content;
    border: 1px solid skyblue;
    padding: 10px 30px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    transition: background 0.5s ;
    font-size: 18px;

}

.btn2:hover{
    background-color: skyblue;
}








.curri img{
    margin-left: 30px;
    width: 300px;
    height: 300px;
}

.curri h3{
    margin-top: 15px;
    text-align: center;
}

.cen{
    text-align: center;
}

#contact{
    padding: 50px;


    --dot-bg: white;
    --dot-color: black;
    --dot-size: 1px;
    --dot-space: 22px;
      background:
          linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          var(--dot-color);
   
    
}

.listcont{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid black;
    padding: 30px 30px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    transition: background 0.5s ;
    font-size: 18px;
}

.contact-1 i{
    font-size: 30px;

}


.contact-1 p{
    margin: 15px;
    font-size: 18px;
}



/*-------css for small screen------------*/
@media only screen and (max-width: 600px){


    *{
        margin: 0;
        padding: 0;
        
    }

    #projects{
        padding: 50px 10px;
    }

    .container{
        padding: 3px 5%;
    }
    
     
    p{
        font-size: 20px;
    }


    .row{
  
        justify-content: space-between;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
        grid-gap: 60px;
        
    }
    

    nav ul li a{
        font-size: 15px;
    }
    nav ul li{
        margin: 20px 5px;
    }
    .subtitle{
        font-size: 20px;
    }

    .about-col-1{
       
        flex-basis: 100%;
        background: skyblue;
        padding: 30px;
        border-radius: 20px;
    }
    
    .about-col-2{

        flex-basis: 100%;
        background-color: skyblue;
        padding: 30px;
        border-radius: 20px;
    }
    
    .about-col-1 p{
        font-size: 12px;
        margin-top: 10px;
       
    }

    .about-col-2{
        margin-top: 20px;
    }

    

    .tablinks{
        margin-right: 20px;
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
        position: relative;

    }

    .tabcontent ul li span{
        margin: 10px 0 0 0 ;
        color: rgb(7, 66, 90);
        font-weight: 500;
        font-size: 12px;
        
    }

    .tabcontent ul li {
        font-size: 10px;
    }


    .btn2{
        display: block;
        margin-top: 5px;
        width: fit-content;
        border: 1px solid skyblue;
        padding: 10px 30px;
        border-radius: 20px;
        text-decoration: none;
        color: black;
        transition: background 0.5s ;
        font-size: 18px;
    
    }

    
    
    .curri img{
        margin-left: 30px;
        width: 150px;
        height: 150px;
       
    }

    .curri h3{
        margin-top: 5px;
        text-align: center;
        font-size: 12px;
        margin-bottom: 30px;
    }


    .listcont{
        display: block;
        margin: 20px auto;
        width: fit-content;
        border: 1px solid black;
        padding: 20px 30px;
        border-radius: 20px;
        text-decoration: none;
        color: black;
        transition: background 0.5s ;
        font-size: 12px;
    }
    
    .contact-1 i{
        font-size: 25px;
    
    }
    
    
    .contact-1 p{
        margin: 15px;
        font-size: 12px;
    }
   
    
    .header-text{
        margin-top: 10%;
        font-size: 20px;
    }
    
    
    .header-text h1{
        margin-top: 20px;
        font-size: 40px;
    }
    
    .header-text h1 span{
        color:skyblue
    }
 

    
    
    
    
    .explist div i{
        font-size: 15px;
        margin-bottom: 10px;
    
    }
    
    
    .achlist div i{
        color: black;
        font-size: 15px;
        margin-bottom: 10px;
    }
    
    
    .explist div h1{
       font-size: 15px;
       
    }
    
    .achlist div h1{
        color: black;
        font-size: 15px;
        
     }
    
    
    .explist div h2{
        font-size: 12px;
        font-weight: 300;
        margin-bottom: 15px;
     }
    
    .explist div p{
        font-size: 12px;
        
     }
     .achlist div p{
        color: black;
        font-size: 10px;
        
     }
     
    
     .explist div a{
        text-decoration: none;
        font-size: 10px;
        margin-top: 10px;
        display: inline-block;
     }
     
    
     .achlist div a{
        text-decoration: none;
        font-size: 10px;
        margin-top: 10px;
        display: inline-block;
        color: black;
     }
   
    

    .prolist{
        
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
        
    }
    

    
  
    
    
    .prolist div h1{
       font-size: 15px;
       
    }
    
    
    .prolist div h2{
        font-size: 12px;
        
     }
    
    .prolist div p{
        font-size: 10px;
        
     }
     
    
     .prolist div a{
        font-size: 15px;
     }
    
    

   
    
    
.explist div{
    
    padding: 20px;
   

}

.achlist div{
    padding: 30px;
}
 

}